body{
    background-image: linear-gradient(to right, black, #0000FF);
    color: black;
    padding-top:20%;
}
.blockForm{
    background-color:white;
    height:200px;
    width:400px;
    padding-top:50px;
    border-radius:50px;
    box-shadow:3px 3px 10px #F2F2F2;
    text-align:center;
}
